@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --xs-screen: 420px;
    --sm-screen: 640px;
    --md-screen: 768px;
    --lg-screen: 1024px;
    --xl-screen: 1280px;
    --2xl-screen: 1356px;

    --background: 180 100% 100%;
    --foreground: 190 13% 18%;

    --card: 195 45% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 241 60% 40%;
    --primary-foreground: var(--background);

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;

  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-primary;
  }
  ::-webkit-scrollbar-track {
    @apply bg-secondary;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    @apply bg-secondary;
  }
  ::-webkit-scrollbar-track:active {
    @apply bg-secondary;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
