@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-background: 180 100% 100%;
  --color-foreground: 190 13% 18%;

  --color-primary: 195 40% 54%;
  --color-primary-foreground: var(--background);

  --color-secondary: 210 40% 96.1%;
  --color-secondary-foreground: 222.2 47.4% 11.2%;

  --color-border: 214.3 31.8% 91.4%;

  --breakpoint-xl: 420px;

  --radius-lg: 0.5rem;
  --radius-md: 0.5rem - 2px;
  --radius-sm: 0.5rem - 4px;
}

@layer base {
  :root {
    @apply scroll-smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-primary;
  }
  ::-webkit-scrollbar-track {
    @apply bg-secondary;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    @apply bg-secondary;
  }
  ::-webkit-scrollbar-track:active {
    @apply bg-secondary;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}